*{
    margin: 0px;
    padding: 0px;
}

@media only screen and (min-width:0px) and (max-width:767px){

    .gridContainer {
        display: grid;
        grid-template-areas: 
        "header header header"
        "title"
        "highlight__events"
        "available__events"
        "events__comingsoon"
        "footer footer footer";
        grid-template-columns: (1fr, auto);
        grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    }

    .logo__page {
        display: flex;
        justify-content: space-between;
        height: 100px;
        mix-blend-mode: multiply;
    }

    #first_separator {
        padding: 1px;
        background: black;
    }

    #icon {
        display: flex;
        width: 80px;
        mix-blend-mode: multiply;
    }

    .control__menu{
        display: flex;
        justify-content: flex-end;
        margin-top: -100px;
        padding: 10px;
    }

    #menu {
       height: 0;
       overflow: hidden;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: aqua;
    }

    #menu li {
        padding: 20px;
        list-style: none;
        text-align: center;
    }

    #menu a {
        background-color: blueviolet;
        margin-bottom: 5px;
        width: 100px;
        height: 60px;
        border-radius: 40px;
    }

    #navigation__menu:target #menu{
        height: 15.8em;
    }

    .close {
        display: none;
    }

    #navigation__menu:target .open {
        display: none;
    }

    #navigation__menu:target .close {
        display: block;
    }

    header {
        background-color: rgb(12, 32, 47);
    }

    #title{
        display: flex;
        justify-content: center;
        background-image: url(/assets/img/imagen\ de\ fondo.jpg);
        padding: 200px;
    }

    .name__page {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;

    }

    
    








    
}