* {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width:0px) and (max-width:767px) {



    .gridContainer {
        display: grid;
        width: 100%;
        grid-template-areas:
            "head head head"
            "nav main"
            "footer footer";
        grid-template-columns: (1fr, auto);
        grid-template-rows: 1fr, 1fr, 1fr;
    }

    .logo__page {
        display: flex;
        justify-content: space-between;
        height: 100px;
        mix-blend-mode: multiply;
    }

    #first_separator {
        padding: 1px;
        background: black;
    }

    #icon {
        display: flex;
        width: 80px;
        mix-blend-mode: multiply;
    }

    .menu__bigdisplay {
        display: none;
    }

    .control__menu {
        display: flex;
        justify-content: flex-end;
        margin-top: -100px;
        padding: 10px;
    }

    #menu {
        height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: burlywood;
    }

    #menu li {
        padding: 5px;
        list-style: none;
        text-align: center;
        background-color: white;
        width: 80px;
        border-radius: 5px;
    }

    #menu a {
        color: black;
        margin-bottom: 5px;
        width: 100px;
        height: 60px;
    }

    #navigation__menu:target #menu {
        height: 15.8em;
    }

    .close {
        display: none;
    }

    #navigation__menu:target .open {
        display: none;
    }

    #navigation__menu:target .close {
        display: block;
    }

    header {
        background-color: burlywood;
    }

    #title {
        display: flex;
        align-items: center;
        padding: 200px;
        flex-direction: column;
    }

    .social__media {
        display: flex;
        align-items: center;
        padding: 40px;
        margin-top: 40px;
    }

    #media1 {
        padding-right: 10px;
    }

    #media2 {
        padding-right: 10px;
    }

    .social__media img {
        width: 50px;
    }

    .name__page {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40px;
    }

    .imageBack {
        background-image: url(../img/imagen\ de\ fondo.jpg);
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

    #highlight__events h4 {
        color: white;
        font-size: 25px;
    }

    #highlight {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 60px;
        color: white;
        margin-bottom: 50px;
    }

    #highlight__events {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    #highlight__events input {
        width: 80px;
        height: 30px;
        margin-top: 10px;
    }

    .highlight1 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
    }

    .highlight1 img {
        width: 400px;
    }

    .highlight2 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
    }

    .highlight2 img {
        width: 400px;
    }

    .highlight3 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
    }

    .highlight3 img {
        width: 400px;
    }

    .highlight4 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
    }

    .highlight4 img {
        width: 400px;
    }

    .highlight5 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
    }

    .highlight5 img {
        width: 400px;
    }

    .highlight6 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
    }

    .highlight6 img {
        width: 400px;
    }

    .highlight7 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
    }

    .highlight7 img {
        width: 400px;
    }

    .highlight8 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
    }

    .highlight8 img {
        width: 400px;
    }

    .get__news {
        background-color: burlywood;
    }

    .get__news h3 {
        text-align: center;
        padding: 20px;
        padding-top: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
    }

    .emailid {
        display: flex;
        justify-content: space-between;
    }

    .emailid input {
        padding-right: 40px;
        text-align: center;
        height: 30px;
        margin-right: 20px;
    }

    #recomend {
        font-size: 20px;
        display: flex;
        text-align: center;
        padding-left: 40px;
        width: 400px;
        height: 70px;
    }

    .acept {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }

    .acept input {
        width: 100px;
        margin-bottom: 20px;
        height: 30px;
    }

    .events__comingsoon {
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .events__comingsoon h3 {
        font-size: 60px;
        color: white;
        margin-top: 200px;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .slider {
        position: relative;
        height: 350px;
        width: 100%;
    }

    .slider li {
        position: absolute;
        left: 21%;
        top: 40px;
        opacity: 0;
        transition: opacity .5s;
    }

    .slider li:target {
        opacity: 1;
    }

    .slider li:first-child {
        opacity: 1;
    }

    .slider li img {
        width: 400px;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .menu li {
        background-color: gray;
        margin-right: 5px;
        width: 60px;
        height: 30px;
        margin-bottom: 10px;
        border-radius: 100%;

    }

    .menu li a {
        text-decoration: none;
        font-size: 20px;
        color: white;
    }

    .formcontain {
        background-image: url(../img/imagen\ de\ fondo.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formcontain h2 {
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 15px;
        padding: 20px;
        color: azure;
    }

    .contenedor__formulario {
        padding: 20px;
    }

    .contenedor__formulario div {
        padding: 10px;
        color: azure;
    }

    .boton {
        background-color: whitesmoke;
        width: 45px;
        text-align: center;
        border-radius: 5px;
    }


    .acercade {
        background-image: url(../img/imagen\ de\ fondo.jpg);
        text-align: center;
    }

    .acercade p {
        color: darkorange;
        padding: 20px;
    }

    .acercade h2 {
        font-size: 40px;
        padding: 20px;
    }

    .acercade img {
        margin-bottom: 40px;
        width: 500px;
    }

    .register {
        background-image: url(../img/imagen\ de\ fondo.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .register__form{
        background-color: burlywood;
        opacity: 0.7;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 30px;
    }

    .register h3 {
        text-align: center;
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 20px;
    }

    .register div{
        padding: 15px;
    }

    .enviador {
        background-color: whitesmoke;
        width: 60px;
        text-align: center;
        border-radius: 5px;
    }


}

@media only screen and (min-width:767px) and (max-width:2000px) {

    .gridContainer {
        display: grid;
        width: 100%;
        grid-template-areas:
            "head head head"
            "nav main"
            "footer footer";
        grid-template-columns: (1fr, auto);
        grid-template-rows: 1fr, 1fr, 1fr;
    }


    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: burlywood;
    }

    .logo__page {
        height: 200px;
        mix-blend-mode: multiply;
    }

    #navigation__menu {
        display: none;
    }

    #menu2 {
        display: flex;
        flex-direction: row;
        padding: 20px;
    }

    #menu2 li {
        margin-right: 20px;
        background-color: white;
        width: 80px;
        border-radius: 5px;
        text-align: center;
    }

    #first_separator {
        padding: 1px;
        background: black;
    }

    #title {
        display: flex;
        align-items: center;
        padding: 200px;
        flex-direction: column;
    }

    .social__media {
        display: flex;
        align-items: center;
        padding: 40px;
        margin-top: 40px;
    }

    #media1 {
        padding-right: 10px;
    }

    #media2 {
        padding-right: 10px;
    }

    .social__media img {
        width: 50px;
    }

    .name__page {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 100px;
    }

    .imageBack {
        background-image: url(../img/imagen\ de\ fondo.jpg);
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

    #highlight__events h4 {
        color: white;
        font-size: 25px;
    }

    #highlight {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 80px;
        color: white;
        margin-bottom: 50px;
    }

    #highlight__events {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .eventsPosition {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #highlight__events input {
        width: 80px;
        height: 30px;
        margin-top: 10px;
    }

    .highlight1 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
        margin-right: 20px;
    }

    .highlight1 img {
        width: 400px;
        height: 200px;
        transition: height 5s;
    }

    .highlight1 img:hover {
        height: 400px;
    }


    .highlight2 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
        margin-right: 20px;
    }

    .highlight2 img {
        width: 400px;
        height: 200px;
        transition: height 5s;
    }

    .highlight2 img:hover {
        height: 400px;
    }

    .highlight3 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
        margin-right: 20px;
    }

    .highlight3 img {
        width: 400px;
        height: 200px;
        transition: height 5s;
    }

    .highlight3 img:hover {
        height: 400px;
    }

    .highlight4 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
        margin-right: 20px;
    }

    .highlight4 img {
        width: 400px;
        height: 200px;
        transition: height 5s;
    }

    .highlight4 img:hover {
        height: 400px;
    }

    .highlight5 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
        margin-right: 20px;
    }

    .highlight5 img {
        width: 400px;
        height: 200px;
        transition: height 5s;
    }

    .highlight5 img:hover {
        height: 400px;
    }

    .highlight6 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
        margin-right: 20px;
    }

    .highlight6 img {
        width: 400px;
        height: 200px;
        transition: height 5s;
    }

    .highlight6 img:hover {
        height: 400px;
    }

    .highlight7 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
        margin-right: 20px;
    }

    .highlight7 img {
        width: 400px;
        height: 200px;
        transition: height 5s;
    }

    .highlight7 img:hover {
        height: 400px;
    }

    .highlight8 {
        background-color: burlywood;
        margin-bottom: 50px;
        padding: 20px;
        border-radius: 5px;
        margin-right: 20px;
    }

    .highlight8 img {
        width: 400px;
        height: 200px;
        transition: height 5s;
    }

    .highlight8 img:hover {
        height: 400px;
    }

    .events__comingsoon {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .events__comingsoon h3 {
        font-size: 80px;
        color: white;
        margin-top: 200px;
        text-align: center;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .slider {
        position: relative;
        height: 350px;
        width: 100%;
        display: flex;
        margin-left: 250px;
    }

    .slider li {
        position: absolute;
        left: 21%;
        top: 40px;
        opacity: 0;
        transition: opacity .5s;
    }

    .slider li:target {
        opacity: 1;
    }

    .slider li:first-child {
        opacity: 1;
    }

    .slider li img {
        width: 400px;
    }

    .menu {
        display: flex;
        justify-content: center;
    }

    .menu li {
        background-color: gray;
        margin-right: 5px;
        width: 60px;
        height: 30px;
        margin-bottom: 10px;
        border-radius: 100%;
        text-align: center;
    }

    .menu li a {
        text-decoration: none;
        font-size: 20px;
        color: white;

    }

    .get__news {
        background-color: burlywood;
    }

    .get__news h3 {
        text-align: center;
        padding: 20px;
        padding-top: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
    }

    .emailid {
        display: flex;
        justify-content: space-between;
    }

    .emailid input {
        padding-right: 40px;
        text-align: center;
        height: 30px;
        margin-right: 20px;
    }

    #recomend {
        font-size: 20px;
        display: flex;
        text-align: center;
        padding-left: 40px;
        width: 400px;
        height: 70px;
    }

    .acept {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }

    .acept input {
        width: 100px;
        margin-bottom: 20px;
        height: 30px;
    }

    .formcontain {
        background-image: url(../img/imagen\ de\ fondo.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formcontain h2 {
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 15px;
        padding: 20px;
    }

    .contenedor__formulario {
        padding: 20px;
    }

    .contenedor__formulario div {
        padding: 10px;
    }

    .boton {
        background-color: whitesmoke;
        width: 45px;
        text-align: center;
        border-radius: 5px;
    }

    .acercade {
        background-image: url(../img/imagen\ de\ fondo.jpg);
        text-align: center;
    }

    .acercade p {
        color: darkorange;
        padding: 20px;
    }

    .acercade h2 {
        font-size: 40px;
        padding: 20px;
    }

    .acercade img {
        margin-bottom: 40px;
    }

    .register {
        background-image: url(../img/imagen\ de\ fondo.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .register__form{
        background-color: burlywood;
        opacity: 0.7;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 30px;
    }

    .register h3 {
        text-align: center;
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 20px;
    }

    .register div{
        padding: 15px;
    }

    .enviador {
        background-color: whitesmoke;
        width: 60px;
        text-align: center;
        border-radius: 5px;
    }


}